{% extends "base.html" %}


{% block main %}
    <h1>Hello, World!</h1>

    <h1>Students of Prolab</h1> 

    <div class="products">
        {% for products in products_list %}
            <div class="scale product_card">
                <div class=product_image>
                    {% if product.avatar %}
                        <img src="{{ product.avatar.url }}" alt="{{product.name}}">
                    {% endif %}
                </div>
                <div class="product_info">
                    <div>Имя: {{ product.name }},</div>
                    <div>Цена {{ product.price }},</div>
                    <div>Описание: {{ product.description }},</div>
                    <div>Цвет: {{ product.color }},</div>
                    <div>Категория: {{ product.category.name }},</div>
                </div>
                <a href="{% url 'update_product' id=product.id %}">update</a>
            </div>
        {% endfor %}
    </div>


    <div class="categorys">
        {% for categorys in categorys_list %}
            <div class="category_card">

                <div class="category_info">
                    <div>Имя: {{ category.name }}</div>
                </div>
            </div>
        {% endfor %}
    </div>



{% endblock main %}