<header>   
    <style>
        .header{
            background-color: #2B2B2B;
            margin-top: 30px;            
            display: flex;
            align-items: center;
            gap: 500px;
        }

        .cad{
            display: flex;
            color: white;
            gap: 30px;
            padding: 20px;
        }

        .name{
            display: flex;
            align-items: center;
            gap: 30px;
            color: white;
            padding: 15px;
        }
    </style>



    <div class="header">
        <div class="cad">
            <div>Это магази фруктов.</div>
            <div>Вы здесь можити найти много фруктов пришешших из других стран</div>
        </div>
        <div class="name">
            <div>Владелесь</div>
            <div>😊Abdumajid-Abaraliev</div>
        </div>
    </div>
</header>